<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MetaBookID"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.main.ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MetaBookID.NoActionBar" />
        <activity
            android:name=".view.main.ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.setting.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.auth.signup.SignUpActivity2"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.auth.signup.SignUpActivity1"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.detailbook.DetailBookActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".view.main.ui.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.ui.auth.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>